<div class="container-login">
  <form class="form-login" name="usuarioForm" (ngSubmit)="entrar()">
    <div>
      <div class="grupo">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" (focus)="focus='email'" [(ngModel)]="email" placeholder="tiago@nquatro.com.br">
      </div>
      <div class="grupo">
        <label for="senha">Senha</label>
        <input id="senha" name="senha" type="password" [(ngModel)]="senha" placeholder="******">
      </div>
      <button type="submit">Entrar</button>
    </div>
  </form>
</div>