<div class="painel fundo">
  <div class="titulo">
    <h1>Autenticação</h1>
  </div>
  <hr>
  <form (ngSubmit)="entrar()">
    <div class="corpo">
      <div class="foto-usuario"></div>
      <div class="grupo-input">
        <label for="email">Email</label>
        <input id="email" name="email" type="email" [(ngModel)]="email" placeholder="tiago@nquatro.com.br">
      </div>
      <div class="grupo-input">
        <label for="senha">Senha</label>
        <input id="senha" name="senha" type="password" [(ngModel)]="senha" placeholder="******">
      </div>
      <div class="grupo-acao">
        <button type="submit">Entrar</button>
      </div>
    </div>
  </form>
</div>