html {
  min-height: 100%;
} 
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  padding: 0;
  margin: 0;
  color: #0a631f;
  height: 100%;
}
h1 {
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 5px;
}
label {
  text-transform: uppercase;
  display: block;
}
hr {
  width: 100%;
  background-color: #cee0d2;
  height: 1px;
  border: none;
  margin: 0;
}
input, .input {
  width: 100%;
  padding: 10px 5px;
  border: none;
}
input ~ .barra {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #0a631f;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .4s ease;
}
.grupo-input, .grupo-acao {
  margin-bottom: 10px;
}
.grupo-acao {
  text-align: center;
}
input:focus, .input:focus {
  outline: none;
}
input:focus ~ .barra {
  transform: scaleX(1);
}
form {
  margin-bottom: 0;
}
::-webkit-input-placeholder {
  color: #9dc1a5;
}
::-moz-placeholder {
  color: #9dc1a5;
}
:-moz-placeholder {
  color: #9dc1a5;
}
:-ms-input-placeholder {
  color: #9dc1a5;
}
button, .button {
  background-color: #0a631f;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  border: none;

  transition: transform .2s ease, box-shadow 0.4s ease;
}
button:hover, .button:hover {
  color: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 4px 2px rgba(0, 0, 0, 0.4), 0 6px 4px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
button:active, .button:active {
  color: #ffffff;
  outline: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8) inset, 0 4px 2px rgba(0, 0, 0, 0.4) inset, 0 6px 4px rgba(0, 0, 0, 0.2) inset;
}
html {
  background: url('./img/fundo.jpg') no-repeat;
  background-position: center;
}
body {
  background-color: rgba(100,150,100,0.7);
}